<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Flask FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\xbiz_\backup-REPO\myenv\Scripts\wfastcgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="E:\xbiz_\backup-REPO\OCR_segmentaiton"/>
        <add key="WSGI_HANDLER" value="api.app"/>
    </appSettings>
</configuration>
